<table class="profile" summary="Profile information" style="background-color:<%= @song.average_color_hex %>;">
  <tr>
    <td class="main">
      <h1>
        <%= @song.link.html_safe %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Title</strong> <%= "Song Title" %><br />
      <strong>Artist</strong>  <%= "Song Artist" %>
    </td>
  </tr>
</table>

