
<table class="profile" summary="Profile information" >  <tr>
    <td class="main">
      <h1>
        <%= @color.red %>
        <%= @color.green %>
        <%= @color.blue %>

      </h1>
    </td>

  </tr>
</table>
  
 